// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/**
 * Colors
 */

// Palette Globale
$color-lime: #d1f7cc;
$color-pink: #ffcccc;

// Nuances de gris
$white: #fff;
$gray-100: #f7f7f7;
$gray-200: #eff3f7;
$gray-300: #d4d4d4;
$gray-400: #bbbbbb;
$gray-500: #747b84;
$gray-600: #555555;
$gray-700: #304855;
$gray-800: #272727;
$gray-900: #000000;
$black: #000;



// Fonts
//$font-family-sans-serif:      "latoregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif:      "latoregular";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;








